{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block body %}
	<div class="main" style="background: #{{bgColor}}">
		<div class="return-btn">
			<a href="{{path('app_home')}}"><img src="{{asset('img/return-icon.png')}}" alt=""></a>
		</div>
		<div class="container">

			<div class="current-day">
				<div class="top-current-day">
					<img src="{{icons[0]}}" alt=""><span>{{dateCurent}}</span>
				</div>
				<div class="body-current-day">
					<div>Jour -
						{{weathers[0]['temp']['day']}}°C
						<br>
						Nuit -
						{{weathers[0]['temp']['night']}}°C
						<br>
						Humidité -
						{{weathers[0]['humidity']}}%</div>
					<div>Pression -
						{{weathers[0]['pressure']}}hPa
						<br>
						Vent -
						{{weathers[0]['wind_speed']}}Km/h</div>
				</div>
			</div>

			<div class="list-weather">
				{% for key, weather in  weathers|slice(1, 7) %}
					<div class="card-day">

						<img src="{{icons[key]}}" alt="">
						<span class="card-date">{{dates[key]}}</span>
						<span class="temp">{{weathers[key]['temp']['day']|round('0','common')}}°C</span>

					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
