{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
	<div
		class="container">
		{# message flash #}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger ">
				<h2>{{ message }}</h2>
			</div>
		{% endfor %}
		{# end message flash #}
		<h1>The Forescast
			<br>
			Wheater App
		</h1>
		<form>
			<input type="text" name="city" id="city-input" placeholder="&nbsp;&nbsp;&nbsp;search">
			<button type="submit" id="search-button">
				<img src="{{asset('img/search-icon.png')}}" alt="">
			</button>
		</form>
	</div>

{% endblock %}
