body {
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
}
.current-day {
  position: fixed;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  left: 5%;
  width: 450px;
  height: max-content;
  background: rgba(19, 70, 1, 0.8);
  border-radius: 25px 25px 0px 0px;
}
.top-current-day {
  display: flex;
  align-items: center;
}
.top-current-day img {
  height: 100px;
  width: 100px;
}
.top-current-day span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 8%;
}
.body-current-day {
  display: flex;
  justify-content: space-around;
  padding: 0 0 10% 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  line-height: 2em;
}
.return-btn {
  padding-top: 2%;
  padding-left: 4%;
}
.return-btn img {
  width: 50px;
  height: 50px;
}
.card-day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 325px;
  height: 70px;
  background: #134601;
  border-radius: 25px;
  margin-bottom: 5%;
}
.card-day img {
  width: 80px;
  height: 80px;
}
.card-day .temp {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}
.container {
  display: flex;
  justify-content: right;
}
.card-date {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
