body {
  background-color: #134601;
  margin: 0 auto;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 48px;
  background: linear-gradient(180deg, #00c058 0%, #e7e9a0 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container #city-input {
  width: 500px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
#city-input::placeholder {
  color: #134601;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  opacity: 1;
}
.container form {
  display: flex;
}
#search-button {
  background: transparent;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-left: -10%;
}
#search-button img {
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
}
.alert h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: red;
}
